
  <h2>Add New Brand</h2>
<div class="container">
    <form #userPost="ngForm" novalidate (ngSubmit)="onSubmit(userPost.value)" >
   

        <div class="form-group">
            <label>brand Name</label>
            <input name="Name" required  type="text" ngModel  class="form-control" />

        </div>
        <br>
        <div id="imageContainer" class="rounded-circle">
            <input type="text" name="Photo" id="Photo" accept="image/png, image/jpeg, image/jpg" class="form-control"  />
            
        </div>
        <br>
        <input type="submit"class="btn btn-primary" value="Add Brand">


      
    </form>


</div>
 
