<form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
  <div >
    <label for="Name">brandName</label>
    <input type="text" name="Name" id="Name" ngModel  >

  </div>
  <div >
    <label for="Photo">Photo</label>
    <input type="text" name="Photo" id="Photo" ngModel>

  </div>
  <div>
    <button type="submit">Add Data</button>
  </div>

</form>
<br><br>
<div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title ">Simple Table</h4>
      <p class="card-category"> Here is a subtitle for this table</p>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <th>
              ID
            </th>
            <th>
              Name
            </th>
            <th>
              Photo
            </th>
         
          </thead>
          <tbody>
              <tr *ngFor="let brand of brands">
                  <td>{{brand.Id}}</td>
                  <td>{{brand.Name}}</td>
                  <td><img src="http://localhost:9602/Content/Imgs/Brands/{{brand.Photo}}" width="100px" height="100px"></td>

              </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>